.html {
  position: relative;
}

.button {
  margin-top: 20rem;
}

.box {
  height: 200px;
  top: 0;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  position: absolute;
  width: 100%;
  transition: all 0.36s cubic-bezier(.25,1,.5,1);
}

.button:hover ~ .box {
  transform: translateY(0%);
}